.heading-link-group {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.card-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 1rem;

    list-style: none;
    padding: 0;
    margin: 0;
}

.card-group .card {
    display: flex;
    flex-flow: column nowrap;

    max-width: 300px;
    background-color: white;
    border-radius: var(--borderRadius);
    border-top: 1px solid var(--gray-10);
    border-right: 1px solid var(--gray-10);
    border-left: 1px solid var(--gray-10);
}

.card-group .card .info-group {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 1rem;

    padding: 2rem;
    flex-grow: 1;
}

.card-group .card h3 {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 600;
}

.card-group .card p {
    margin: 0;
}

.card-group .card :is(.date, .category, .num-articles) {
    font-size: 0.875rem;
    font-weight: 500;
}

.card-group .card .meta {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.25rem;

    color: var(--teal-80);
    margin-top: 1rem;
}

.card-group .card .category {
    display: inline-flex;
    align-items: center;
    gap: 0.375rem;

    background-color: var(--orange-15);
    padding: 0.5rem;
    border-radius: var(--borderRadius);
}

.card-group .card .category svg {
    width: 1.125rem;
}

.card-group .card .category svg :is(path, circle, line) {
    stroke-width: 1.5px;
}

.card-group .card .description {
    font-family: 'Source Serif Pro', serif;
    font-weight: 600;
    font-style: italic;
    line-height: 1.375;
    flex-grow: 1;
}

.card-group .card a {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    
    text-decoration: none;
    margin: 0 -1px;
    padding: 1rem 2rem;
    background-color: var(--teal-15);
    border-top: 1px solid var(--teal-30);
    border-right: 1px solid var(--teal-30);
    border-left: 1px solid var(--teal-30);
    border-radius: 0 0 var(--borderRadius) var(--borderRadius);
    color: var(--teal-100);
    font-weight: 500;
    box-shadow: var(--boxShadow) var(--teal-30);
}

.card-group .card a:hover {
    background-color: var(--teal-80);
    border-color: var(--teal-80);
    color: white;
    box-shadow: var(--boxShadow) var(--teal-100);
}

.card-group .card a svg {
    width: 1rem;
}

.card-group .card a svg path {
    stroke: var(--teal-100);
}

.card-group .card a:hover svg path {
    stroke: white;
}