/*
** UNIVERSAL BOX-SIZING
------------------------------*/

*, *::before, *::after {
    box-sizing: border-box;
}

/*
** VARIABLES
------------------------------*/

:root {

    --orange-100: #da5c32;
    --orange-80: #f37c50;
    --orange-60: #ff9764;
    --orange-45: #ffac83;
    --orange-30: #ffc1a2;
    --orange-20: #ffdbc9;
    --orange-15: #ffeae0;
    --orange-10: #fff5ef;

    --brown-100: #795233;
    --brown-80: #a07548;
    --brown-60: #bfa284;
    --brown-30: #d9c7b5;
    --brown-15: #f2ece6;

    --gray-100: #2f3148;
    --gray-80: #595a6d;
    --gray-60: #828391;
    --gray-30: #c1c1c8;
    --gray-15: #e0e0e4;
    --gray-10: #eaeaed;
    --gray-5: #f5f5f6;

    --teal-100: #155972;
    --teal-80: #447a8e; 
    --teal-60: #739baa;
    --teal-45: #96b4c0; 
    --teal-30: #b9cdd5; 
    --teal-15: #dce6ea; 
    --teal-10: #e8eef1; 
    --teal-5: #f3f7f8; 

    --boxShadow: 0 2px 0;
    --borderRadius: 0.5rem;
    --contentWidth: 900px;

}



/*
** HTML, BODY & CONTAINERS
------------------------------*/

html {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--gray-100);
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    width: 100%;
    background-color: var(--gray-5);
}

:is(h1, h2, h4) {
    font-weight: 600;
}

:is(article, section, aside, nav, div) > *:first-child {
    margin-top: 0 !important;
}

:is(article, section, aside, nav, div) > *:last-child {
    margin-bottom: 0 !important;
}


/*
** TYPOGRAPHY
------------------------------*/

h1 {
    font-size: 2.5rem;
    font-weight: 700;   
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

:is(ul, ol) > :is(*, li):first-child {
    margin-top: 0 !important;
}
  
:is(ul, ol) > :is(*, li):last-child {
    margin-bottom: 0 !important;
}


/*
** FORMS
------------------------------*/

form {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 0;
    height: auto;  
}

input, textarea {
    font-family: inherit;
    font-size: inherit;
}

input:is([type="checkbox"], [type="radio"]) {
    appearance: none;
    /* prevent taking any space */
    position: absolute; 
    /* cross-browser hiding */
    opacity: 0;
    width: 0;
    height: 0;
}

input:focus-visible + label {
    outline: var(--teal-100) auto 1px;
    outline-offset: 2px;
}

/* CHECKBOX AND RADIO BUTTONS */

input:is([type="checkbox"], [type="radio"]) + label {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    user-select: none;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    color: var(--gray-100);
    padding:  0.75rem 1rem;
    background-color: white;
    text-decoration: none;
    border-top: 1px solid var(--gray-10);
    border-right: 1px solid var(--gray-10);
    border-left: 1px solid var(--gray-10);
    border-radius: var(--borderRadius);
    cursor: pointer;
    margin-right: 0.5rem;
    box-shadow: var(--boxShadow) var(--gray-15);
}

input:is([type="checkbox"], [type="radio"]) + label:hover {
    background-color: var(--teal-15);
    border-color: var(--teal-30);
    box-shadow: var(--boxShadow) var(--teal-30);
    color: var(--teal-100);
}

input[type="radio"]:checked + label {
    background-color: var(--teal-80);
    border-color: var(--teal-80);
    box-shadow: var(--boxShadow) var(--teal-100);
    color: white;
}

input[type="checkbox"]:checked + label {
    background-color: var(--teal-80);
    border-color: var(--teal-80);
    box-shadow: var(--boxShadow) var(--teal-100);
    color: white;
    padding: 0.5rem 1rem;
}

input[type="checkbox"]:checked + label:hover {
    background-color: var(--gray-80);
    border-color: var(--gray-80);
    box-shadow: var(--boxShadow) var(--gray-100);
    color: white;
}

input[type="checkbox"]:checked:disabled + label {
    padding: 0.75rem 1rem;
    cursor: default;
}

input[type="checkbox"]:checked:disabled + label:hover {
    background-color: var(--teal-80);
    border-color: var(--teal-80);
    box-shadow: var(--boxShadow) var(--teal-100);
}


input[type="checkbox"]:checked:disabled + label .icon {
    display: none;
}

input[type="checkbox"] + label .icon {
    display: none;
    margin-left: 0.25rem;
}

input[type="checkbox"]:checked + label .icon {
    display: flex;
}

input[type="checkbox"]:checked + label .icon circle {
    stroke: none;
    fill: none;
}

input[type="checkbox"]:checked + label .icon line {
    stroke: white;
}

input[type="checkbox"]:checked + label:hover .icon circle {
    fill: white;
}

input[type="checkbox"]:checked + label:hover .icon line {
    stroke: var(--gray-80);
}

/* DROP DOWN SELECT INPUTS */

form.sort-group label {
    font-size: 0.875rem;
    font-weight: 600;
    margin-right: 0.5rem;
}

form.sort-group .select-group {
    position: relative;
}

form.sort-group .select-group::after {
    content: " ";
    display: block;
    position: absolute;
    margin-top: -2px;
    top: 50%;
    right: 0.75rem;
    width: 0.5rem;
    height: 0.5rem;
    border-top: 5px solid var(--teal-60);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    pointer-events: none;
}

select {
    appearance: none;
    padding: 0.5rem 2rem 0.5rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: var(--borderRadius);
    border-top: 1px solid var(--gray-10);
    border-right: 1px solid var(--gray-10);
    border-left: 1px solid var(--gray-10);
    border-bottom: none;
    box-shadow: var(--boxShadow) var(--gray-15);
    position: relative;
    cursor: pointer;
}

select:hover,
select:focus {
    outline: none;
    background-color: var(--teal-15);
    border-color: var(--teal-30);
    box-shadow: var(--boxShadow) var(--teal-30);
    color: var(--teal-100);
}

select:active {
    outline: none;
}

select option {
    background-color: white;
    color: var(--gray-100);
    font-size: 0.875rem;
    font-weight: 500;
}






/*
** ICONS
------------------------------*/

svg.icon {
    width: 1.5rem;;
}

svg.icon :is(path, line, circle){
    stroke: var(--gray-100);
    stroke-width: 2px;
    fill: none;
}


/*
** FLEXBOX
------------------------------*/


/*
** LINKS & BUTTONS
------------------------------*/

button {
    appearance: none;
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
    user-select: none;
}

:is(button, a) * {
    pointer-events: none;
}

a {
    color: var(--teal-100);
    font-weight: 500;
}

a:visited {
    color: var(--teal-100);         
}

:is(a, a:visited):hover {
    color: var(--teal-80);
}



/* Bookmark Buttons */

.bookmark-toggle svg path {
    fill: none;
    stroke: var(--teal-60);
    stroke-width: 2px;
}

.bookmark-toggle:hover svg path,
.bookmark-toggle.is-active svg path {
    fill: var(--orange-30);
    stroke: var(--orange-80);
}

.bookmark-toggle.is-active:hover svg path {
    fill: none;
}


/*
** ACCORDIONS
------------------------------*/

.accordion-panel {
    display: flex;
}

.accordion-panel[hidden] {
    display: none !important;
}


/*
** HEADER
------------------------------*/


header {
    background-color: var(--gray-100);

    display: grid;
    grid-template-columns: 1fr minmax(450px, 900px) 1fr;
    grid-template-rows: 5rem;
    grid-template-areas:
    "nav-global search nav-project";
    align-items: center;

    padding: 0;
    overflow-y: visible;

    position: relative;
    z-index: 100;
}


header nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1rem;
    padding: 0 2rem;
}

header nav .logo {
    grid-area: nav;
    width: 4.5rem;
    margin-right: 1rem;
}

header nav .logo path.typo {
    fill: white;
}

header nav .logo path.line {
    fill: var(--orange-60);
}


header nav a {
    font-size: 1rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

header nav a:visited {
    color: white;
}

header nav :is(a, a:visited):hover {
    color: var(--orange-60);
}

header nav a.is-active {
    color: var(--orange-60);
}

header nav p {
    color: white;
    margin: 0;
}

header nav .icon :is(path, line, circle){
    stroke: var(--orange-60);
    stroke-width: 1.5px;
}

header nav.global {
    grid-area: nav-global;
}




header nav.project {
    grid-area: nav-project;
    justify-self: end;
}

header nav.project p {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0 1rem 0 0 ;
    color: white;
    font-weight: 600;
    border-right: 2px solid var(--teal-60);
}

header nav.project .icon {
    margin-right: 0.5rem;
}

header nav.project .icon path {
    stroke: var(--teal-60);
}

header nav.project a {
    font-size: 0.875rem;
}






header .search-group {
    grid-area: search;
    
    position: relative;
}

#search-form {
    position: relative;
    overflow-y: visible;
    background-color: var(--gray-5);
    height: 3rem;
    width: 100%;
    border: none;
    border-radius: var(--borderRadius);
    box-shadow: 0 4px 0 var(--orange-60);
}

#search-form.is-open {
    border-radius: var(--borderRadius) var(--borderRadius) 0 0;
}

#search-input {
    background-color: transparent;
    height: 100%;
    width: 100%;
    padding: 0 3.5rem 0 1rem;
    border: none;
}

#search-input:focus {
    outline: none;
}

#search-submit {
    display: flex;
    position: absolute;
    right: 1rem;
    top: 0.75rem;
}

#search-submit .search-submit-icon {
    width: 1.5rem;
}

#search-submit .search-submit-icon :is(circle, line) {
    fill: none;
    stroke: var(--orange-60);
    stroke-width: 3px;
}

#search-results {
    grid-area: results;

    position: absolute;
    top: 3rem;
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

#search-results li {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-decoration: none;
}

#search-results li.error {
    border-top: 2px solid var(--teal-30);
    border-right: 1px solid var(--teal-30);
    border-left: 1px solid var(--teal-30);
}

#search-results li svg {
    width: 1.125rem;
}

#search-results li > a {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: var(--gray-100);
    font-weight: 500;
    flex-grow: 1;
    line-height: 1;
    padding: 1rem 1.5rem 1rem 0;
    background-color: var(--teal-15);
    border-top: 2px solid var(--teal-30);
    border-right: 1px solid var(--teal-30);
    border-left: 1px solid var(--teal-30);
}

#search-results li > a:is(:hover, :focus, :focus-visible) {
    color: white;
    background-color: var(--teal-80);
    border-top-color: var(--teal-100);
    border-right-color: var(--teal-80);
    border-left-color: var(--teal-80);
}

#search-results li:not(:last-child) > a:is(:hover, :focus, :focus-visible) {
    margin-bottom: -2px;
    border-bottom: 2px solid var(--teal-100);
    z-index: 1;
}

#search-results li:last-child > a {
    border-radius: 0 0 var(--borderRadius) var(--borderRadius);
    box-shadow: var(--boxShadow) var(--teal-30);
}

#search-results li:last-child > a:is(:hover, :focus, :focus-visible) {
    box-shadow: var(--boxShadow) var(--teal-100);
}

#search-results li > a .icon-group {
    display: inline-flex;
    align-items: center;
    gap: 0.375rem;
    padding: 0 1rem;
    border-right: 2px solid var(--teal-30);
}

#search-results li > a svg :is(path, circle, line) {
    stroke-width: 1.5px;
}

#search-results li > a:is(:hover, :focus, :focus-visible) svg :is(path, circle, line){
    stroke: white;
}

#search-results li > a .title {
    flex-grow: 1;
}

#search-results li > a .date {
    font-size: 0.875rem;
    color: var(--teal-80);
}

#search-results li > a:is(:hover, :focus, :focus-visible) .date {
    color: white;
}

#search-results li:last-child:not(.error):hover {
    box-shadow: var(--boxShadow) var(--teal-100);
    border-radius: 0 0 var(--borderRadius) var(--borderRadius);
}

#search-results li.error {
    padding-left: 1rem;
    font-weight: 500;
    background-color: var(--teal-15);
    box-shadow: var(--boxShadow) var(--teal-30);
    border-radius: 0 0 var(--borderRadius) var(--borderRadius);
}








header .project-group {
    grid-area: project;
    justify-self: flex-end;
    
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: calc(var(--spacing) * 2);
}


header .project-group .accordion-toggle-group {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem 1.5rem;
    background-color: var(--orange-60);
    border-radius: 0.75rem;
}

header .project-group :is(.icon-group, .accordion-toggle){
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0;
}

header .project-group .icon-group span {
    font-size: 1.25rem;
    font-weight: 500;
    margin-left: 0.375rem;
    color: white;
}

header .project-group .icon-group svg path {
    stroke: var(--orange-60);
}

header .project-group .accordion-toggle span {
    font-size: 0.875rem;
    font-weight: 600;
    margin-right: 0.375rem;
    color: white;
}

header .project-group .accordion-toggle svg {
    width: 1rem;
}

header .project-group .accordion-toggle svg path {
    stroke: white;
}

header .project-group .accordion-panel {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
    margin: 0;
    padding: 0.75rem;
    background-color: var(--teal-15);
}

header .project-group .accordion-panel li {
    padding-bottom: 0.5rem;
    border-bottom: 2px solid var(--teal-30);
}

header .project-group .accordion-panel li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

header .project-group .accordion-panel a {
    font-size: 0.875rem;
    font-weight: 500;
}


/*
** MAIN
------------------------------*/

main {
    width: var(--contentWidth);
    margin: 0 auto;
    padding: 3rem 0;
}

main > section {
    margin-bottom: 4rem;
}




/*
** FOOTER
------------------------------*/

footer {
    background-color: var(--teal-80);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    
    padding: 2rem 0;
}

.logo-nowicki {
    width: 8rem;
}

.logo-nowicki path {
    fill: white;
}

.copyright {
    color: white;
}


/*
** MISC
------------------------------*/

svg {
    pointer-events: none;
}

:focus-visible {
    outline: var(--teal-100) auto 1px;
    outline-offset: 2px;
}
  
/*
** STATES
------------------------------*/

[hidden] {
    pointer-events: none !important;
    display: none !important;
}