/*
** UNIVERSAL BOX-SIZING
------------------------------*/

*, *::before, *::after {
    box-sizing: border-box;
}

/*
** VARIABLES
------------------------------*/

:root {

    --orange-100: #da5c32;
    --orange-80: #f37c50;
    --orange-60: #ff9764;
    --orange-45: #ffac83;
    --orange-30: #ffc1a2;
    --orange-20: #ffdbc9;
    --orange-15: #ffeae0;
    --orange-10: #fff5ef;

    --brown-100: #795233;
    --brown-80: #a07548;
    --brown-60: #bfa284;
    --brown-30: #d9c7b5;
    --brown-15: #f2ece6;

    --gray-100: #2f3148;
    --gray-80: #595a6d;
    --gray-60: #828391;
    --gray-30: #c1c1c8;
    --gray-15: #e0e0e4;
    --gray-10: #eaeaed;
    --gray-5: #f5f5f6;

    --teal-100: #155972;
    --teal-80: #447a8e; 
    --teal-60: #739baa;
    --teal-45: #96b4c0; 
    --teal-30: #b9cdd5; 
    --teal-15: #dce6ea; 
    --teal-10: #e8eef1; 
    --teal-5: #f3f7f8; 

    --boxShadow: 0 2px 0;
    --borderRadius: 0.5rem;
    --contentWidth: 900px;

}



/*
** HTML, BODY & CONTAINERS
------------------------------*/

html {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--gray-100);
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    width: 100%;
    background-color: var(--gray-5);
}

:is(h1, h2, h4) {
    font-weight: 600;
}

:is(article, section, aside, nav, div) > *:first-child {
    margin-top: 0 !important;
}

:is(article, section, aside, nav, div) > *:last-child {
    margin-bottom: 0 !important;
}


/*
** TYPOGRAPHY
------------------------------*/

h1 {
    font-size: 2.5rem;
    font-weight: 700;   
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

:is(ul, ol) > :is(*, li):first-child {
    margin-top: 0 !important;
}
  
:is(ul, ol) > :is(*, li):last-child {
    margin-bottom: 0 !important;
}


/*
** FORMS
------------------------------*/

form {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 0;
    height: auto;  
}

input, textarea {
    font-family: inherit;
    font-size: inherit;
}

input:is([type="checkbox"], [type="radio"]) {
    appearance: none;
    /* prevent taking any space */
    position: absolute; 
    /* cross-browser hiding */
    opacity: 0;
    width: 0;
    height: 0;
}

/* DROP DOWN SELECT INPUTS */

label:has(select) {
    font-size: 0.875rem;
    font-weight: 600;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 0.5rem;

    & .select-group {
        position: relative;
    
        &::after {
            content: " ";
            display: block;
            position: absolute;
            margin-top: -2px;
            top: 50%;
            right: 0.75rem;
            width: 0.5rem;
            height: 0.5rem;
            border-top: 5px solid var(--teal-60);
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
            pointer-events: none;
        }

        & select {
            appearance: none;
            position: relative;
            min-height: 2.25rem;
            padding: 0.5rem 2rem 0.5rem 0.75rem;
            border-radius: calc(var(--borderRadius) / 1.5);
            border-top: 1px solid var(--gray-10);
            border-right: 1px solid var(--gray-10);
            border-left: 1px solid var(--gray-10);
            border-bottom: none;
            box-shadow: var(--boxShadow) var(--gray-15);

            font-size: 0.875rem;
            font-weight: 500;
            line-height: 1.3;
            cursor: pointer;
        
            &:hover, &:focus {
                outline: none;
                background-color: var(--teal-15);
                border-color: var(--teal-30);
                box-shadow: var(--boxShadow) var(--teal-30);
                color: var(--teal-100);
            }
        
            &:active {
                outline: none;
            }
        
            & option {
                background-color: white;
                color: var(--gray-100);
                font-size: 0.875rem;
                font-weight: 500;
            }
        }
    }
}


/*
** ICONS
------------------------------*/

svg.icon {
    width: 1.5rem;

    & :is(path, line, circle){
        stroke: var(--gray-100);
        stroke-width: 2px;
        fill: none;
    }

}


/*
** LINKS & BUTTONS
------------------------------*/

button {
    appearance: none;
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
    user-select: none;
}

:is(button, a) * {
    pointer-events: none;
}

a {
    color: var(--teal-100);
    font-weight: 500;

    &:hover {
        color: var(--teal-80);
    }

    &:visited {
        color: var(--teal-100);
        
        &:hover {
            color: var(--teal-80);
        }
    }
}

.btn-m {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;

    min-height: 2.5rem;
    margin-right: 0;
    padding: 0.625rem 0.875rem;
    background-color: white;
    border-top: 1px solid var(--gray-10);
    border-right: 1px solid var(--gray-10);
    border-left: 1px solid var(--gray-10);
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadow) var(--gray-15);

    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    color: var(--gray-100);
    text-decoration: none;
    cursor: pointer;
    user-select: none;

    &:hover {
        background-color: var(--teal-15);
        border-color: var(--teal-30);
        box-shadow: var(--boxShadow) var(--teal-30);

        & :is(label, a, button, span) {
            color: var(--teal-100);
        }

        & .icon :is(path, circle, line) {
            stroke: var(--teal-100);
        }
    }

    &:has(:checked) {
        background-color: var(--teal-80);
        border-color: var(--teal-80);
        box-shadow: var(--boxShadow) var(--teal-100);

        & :is(label, a, button, span) {
            color: white;
        }
    }

    &:has([type="checkbox"]) {

        & .icon-controls {
            transform: rotate(45deg);
        }
    }

    &:has([type="checkbox"]:checked) {

        &:hover {
            background-color: var(--teal-15);
            border-color: var(--teal-30);
            box-shadow: var(--boxShadow) var(--teal-30);

            & :is(label, a, button, span) {
                color: var(--teal-100);
            }
            
            & .icon :is(path, circle, line) {
                stroke: var(--teal-100);
            }
        }

        & .icon-controls {
            transform: none;

            & :is(path, circle, line) {
                stroke: white;
            }
        }
    }

    &:has([type="checkbox"]:checked:disabled) {
        cursor: default;
    
        &:hover {
            background-color: var(--teal-80);
            border-color: var(--teal-80);
            box-shadow: var(--boxShadow) var(--teal-100);

            & :is(label, a, button, span) {
                color: white;
            }
        }
    
        & .icon {
            display: none;
        }
    }

    & .icon {
        width: 1.125rem;
        transform-origin: center;
    
        & :is(path, circle, line) {
            stroke-width: 2px;
        }
    
        &.icon-controls {

            &.cross {
                width: 0.75rem;
                margin: 0;
            }
        }
    }
}

.btn-s {
    display: inline-flex;
    align-items: center;
    gap: 0.375rem;

    min-height: 2rem;
    margin: 0;
    padding: 0.375rem 0.5rem;
    background-color: var(--teal-15);
    border: none;
    border-radius: calc(var(--borderRadius) / 1.5);
    box-shadow: none;

    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1;
    color: var(--gray-100);
    text-decoration: none;
    cursor: pointer;
    user-select: none;

    &:hover  {
        background-color: var(--orange-45);
        color: var(--gray-100);

        & :is(label, a, button, span) {
            color: inherit;
        }

        & svg :is(path, circle, line) {
            stroke: var(--gray-100);
        }
    }

    &:has(:checked) {
        background-color: var(--orange-20);

        & icon-controls.cross {
            transform: none;
        }
    }

    &:has([type="checkbox"]) {

        & .icon-controls {
            transform: rotate(45deg);
        }
    }

    &:has([type="checkbox"]:checked) {

        &:hover {
            background-color: var(--orange-45);
            color: var(--gray-100);

            & :is(label, a, button, span) {
                color: inherit;
            }
            
            & .icon :is(path, circle, line) {
                stroke: var(--gray-100);
            }
        }

        & .icon-controls {
            transform: rotate(0deg);
        }
    }

    & .icon {
        width: 1.125rem;
    
        & :is(path, circle, line) {
            stroke-width: 1.5px;
        }
    
        &.icon-controls {
            transition: transform 0.1s ease;

            &.arrow {
                width: 0.75rem;
                margin: 0 0.125rem;
            }

            &.cross {
                width: 0.625rem;
                margin: 0 0.25rem;
            }
        }
    }
}

:is(.btn-m, .btn-s):has(input:focus-visible) {
    outline: var(--teal-100) auto 1px;
    outline-offset: 2px;
}

/* Bookmark Buttons */

.bookmark-toggle {
    
    & svg path {
        fill: none;
        stroke: var(--teal-60);
        stroke-width: 2px;
    }

    &:hover svg path,
    &.is-active svg path {
        fill: var(--orange-30);
        stroke: var(--orange-80);
    }

    &.is-active:hover svg path {
        fill: none;
    }

}



/*
** ACCORDIONS
------------------------------*/

.accordion-panel {
    display: flex;

    &[hidden] {
        display: none !important;
    }

}




/*
** HEADER
------------------------------*/


header {
    display: grid;
    grid-template-columns: 1fr minmax(450px, 900px) 1fr;
    grid-template-rows: 5rem;
    grid-template-areas:
    "nav-global search nav-project";
    align-items: center;

    background-color: var(--gray-100);
    padding: 0;
    overflow-y: visible;
    position: relative;
    z-index: 100;

    & nav {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 1rem;
        padding: 0 2rem;

        & .logo {
            grid-area: nav;
            width: 4.5rem;
            margin-right: 1rem;

            & path.typo {
                fill: white;
            }
            
            & path.line {
                fill: var(--orange-60);
            }
        }
        
        & a {
            font-size: 1rem;
            font-weight: 600;
            color: white;
            text-decoration: none;
            
            &:visited {
                color: white;
            }

            &.is-active {
                color: var(--orange-60);
            }
        }
        
        & :is(a, a:visited):hover {
            color: var(--orange-60);
        }
        
        & p {
            color: white;
            margin: 0;
        }
        
        & .icon :is(path, line, circle){
            stroke: var(--orange-60);
            stroke-width: 1.5px;
        }
        
        &.global {
            grid-area: nav-global;
        }
        
        &.project {
            grid-area: nav-project;
            justify-self: end;

            & p {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                padding: 0 1rem 0 0 ;
                color: white;
                font-weight: 600;
                border-right: 2px solid var(--teal-60);
            }
            
            & .icon {
                margin-right: 0.5rem;

                & path {
                    stroke: var(--teal-60);
                }
            }
                        
            & a {
                font-size: 0.875rem;
            }
        }
    }

    & [data-search-group] {
        grid-area: search;
        
        position: relative;

        & .search-form {
            position: relative;
            overflow-y: visible;
            background-color: var(--gray-5);
            height: 3rem;
            width: 100%;
            border: none;
            border-radius: var(--borderRadius);
            box-shadow: 0 4px 0 var(--orange-60);
        }
        
        & .search-form:has(+ .search-results:not([hidden])) {
            border-radius: var(--borderRadius) var(--borderRadius) 0 0;
        }
        
        & .search-input {
            background-color: transparent;
            height: 100%;
            width: 100%;
            padding: 0 3.5rem 0 1rem;
            border: none;

            &:focus {
                outline: none;
            }
        }
        
        & .search-submit {
            display: flex;
            position: absolute;
            right: 1rem;
            top: 0.75rem;

            & .search-submit-icon {
                width: 1.5rem;

                & :is(circle, line) {
                    fill: none;
                    stroke: var(--orange-60);
                    stroke-width: 3px;
                }
            }
        }
        
        & .search-results {
            grid-area: results;
        
            position: absolute;
            top: 3rem;
            width: 100%;
        
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            margin: 0;
            padding: 0;
            list-style: none;

            & li {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                text-decoration: none;

                &.error {
                    padding-left: 1rem;
                    font-weight: 500;
                    background-color: var(--teal-15);
                    box-shadow: var(--boxShadow) var(--teal-30);
                    border-radius: 0 0 var(--borderRadius) var(--borderRadius);
                    border-top: 2px solid var(--teal-30);
                    border-right: 1px solid var(--teal-30);
                    border-left: 1px solid var(--teal-30);
                }
                
                & svg {
                    width: 1.125rem;
                }
                
                & > a {
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    gap: 1rem;
                    text-decoration: none;
                    color: var(--gray-100);
                    font-weight: 500;
                    flex-grow: 1;
                    line-height: 1;
                    padding: 1rem 1.5rem 1rem 0;
                    background-color: var(--teal-15);
                    border-top: 2px solid var(--teal-30);
                    border-right: 1px solid var(--teal-30);
                    border-left: 1px solid var(--teal-30);

                    &:is(:hover, :focus, :focus-visible) {
                        color: white;
                        background-color: var(--teal-80);
                        border-top-color: var(--teal-100);
                        border-right-color: var(--teal-80);
                        border-left-color: var(--teal-80);

                        & svg :is(path, circle, line){
                            stroke: white;
                        }
                        
                        & .date {
                            color: white;
                        }
                    }

                    & .title {
                        flex-grow: 1;
                    }
                    
                    & .date {
                        font-size: 0.875rem;
                        color: var(--teal-80);
                    }

                    & .icon-group {
                        display: inline-flex;
                        align-items: center;
                        gap: 0.375rem;
                        padding: 0 1rem;
                        border-right: 2px solid var(--teal-30);

                        & svg :is(path, circle, line) {
                            stroke-width: 1.5px;
                        }
                    }
                }

                &:last-child > a {
                    border-radius: 0 0 var(--borderRadius) var(--borderRadius);
                    box-shadow: var(--boxShadow) var(--teal-30);
    
                    &:is(:hover, :focus, :focus-visible) {
                        box-shadow: var(--boxShadow) var(--teal-100);
                    }
                }

                &:last-child:not(.error):hover {
                    box-shadow: var(--boxShadow) var(--teal-100);
                    border-radius: 0 0 var(--borderRadius) var(--borderRadius);
                }

                &:not(:last-child) > a:is(:hover, :focus, :focus-visible) {
                    margin-bottom: -2px;
                    border-bottom: 2px solid var(--teal-100);
                    z-index: 1;
                }
            }
        }
    }
}


/*
** MAIN
------------------------------*/

main {
    width: var(--contentWidth);
    margin: 0 auto;
    padding: 3rem 0;
}

main > section {
    margin-bottom: 4rem;
}

.home .heading-link-group {
    margin: 0 0 1.5rem;
}

.home .heading-link-group h2 {
    margin: 0;
}


/*
** FOOTER
------------------------------*/

footer {
    background-color: var(--teal-80);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    
    padding: 2rem 0;
}

.logo-nowicki {
    width: 8rem;
}

.logo-nowicki path {
    fill: white;
}

.copyright {
    color: white;
}


/*
** MISC
------------------------------*/

svg {
    pointer-events: none;
}

:focus-visible {
    outline: var(--teal-100) auto 1px;
    outline-offset: 2px;
}
  
/*
** STATES
------------------------------*/

[hidden] {
    pointer-events: none !important;
    display: none !important;
}