/*
** VARIABLES
------------------------------*/


/*
** TYPOGRAPHY
------------------------------*/

article h1 {
    font-size: 3rem;
}

article .metadata h2 {
    font-size: 0.875rem;
}

article .metadata p {
    font-size: 0.875rem;
}

article .content h2 {
    font-size: 1.5rem;
}

article .content h3 {
    font-size: 1.25rem;
}




/*
** LINKS & BUTTONS
------------------------------*/


/*
** HEADER
------------------------------*/


/*
** MAIN
------------------------------*/

main {
    display: grid;
    grid-template-columns:  clamp(300px, 360px, 25%) 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "nav article";
}

nav.sidepanel {
    --spacing: 0.75rem;

    grid-area: nav;

    padding: 2rem;
    background-color: var(--gray-100);
    border-right: 2px solid var(--gray-200);
}

nav.sidepanel :is(.icon-group, .project button){
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

nav.sidepanel ul {
    list-style: none;
    padding: 0;
}

nav.sidepanel a {
    color: var(--gray-900);
    text-decoration: none;
}

nav.sidepanel a:hover {
    color: var(--orange);
    text-decoration: underline;
}

nav.sidepanel hr {
    border: 1px solid var(--gray-200);
    margin: var(--spacing) 0;
}

nav.sidepanel .accordion-panel {
    flex-flow: column nowrap;
}

/* Project */

nav.sidepanel .project {
    flex-flow: column nowrap;
}

nav.sidepanel .project .accordion-toggle-group {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid var(--gray-900);
}

nav.sidepanel .project p {
    margin: 0;
}

nav.sidepanel .project p span {
    font-size: 1.25rem;
    font-weight: 600;
    margin-left: 0.375rem;
}

nav.sidepanel .project button span {
    font-size: 0.75rem;
    font-weight: 600;
    margin-right: 0.375rem;
}

nav.sidepanel .project button svg {
    width: 1rem;
}

nav.sidepanel .project-list-panel {
    margin: 0;
    padding: 0.5rem;
    border-bottom: 2px solid var(--gray-300);
    background-color: var(--gray-200);
}

/* Pinned List */

nav.sidepanel .pinned-list p {
    margin-bottom: var(--spacing);
}

nav.sidepanel .pinned-list a {
    margin-left: calc(var(--spacing) - 2px);
}

nav.sidepanel :is(.pinned-list, .tree-list) .icon-group span {
    font-weight: 600;
    margin-left: 0.5rem;
}

nav.sidepanel .pin-toggle svg {
    width: 1.25rem;
}

nav.sidepanel .pin-toggle svg path {
    fill: var(--gray-400);
    stroke: var(--gray-400);
    stroke-width: 1px;
}


/* Tree List */

nav.sidepanel .tree-list .accordion-toggle-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.sidepanel .tree-list .accordion-toggle span {
    font-weight: 600;
    font-size: 0.75rem;
}

nav.sidepanel .accordion-toggle svg {
    width: 0.75rem;
}

nav.sidepanel .accordion-toggle[aria-expanded="true"] > svg {
    transform: rotate(90deg);
}











nav.sidepanel .tree-list .accordion-panel {
    flex-flow: column nowrap;
    position: relative;
    padding-left: calc(var(--spacing) - 2px);
    margin: var(--spacing) 0 var(--spacing);
}

nav.sidepanel :is(.pinned-list a, .tree-list .accordion-panel a) {
    display: flex;
    align-items: center;
    position: relative;
    padding: calc(var(--spacing) / 4) var(--spacing);
    border-left: 2px solid var(--gray-300);
    font-size: 0.875rem;
    font-weight: 500;
}

nav.sidepanel :is(.pinned-list a, .tree-list .accordion-panel a)::before {
    content: "";
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--gray-100);
    border: 2px solid var(--gray-500);
    border-radius: 10rem;
    position: absolute;
    left: calc(-0.25rem - 1px);
}

nav.sidepanel :is(.pinned-list a, .tree-list .accordion-panel a).active::before {
    border-color: var(--gray-700);
    background-color: var(--gray-700);
}


article {
    grid-area: article;

    display: grid;
    grid-template-columns:  clamp(20%, 320px, 30%) 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
    "breadcrumbs breadcrumbs"
    "title title"
    "infobox content";

    padding: 3rem;;
}

article .breadcrumbs {
    grid-area: breadcrumbs;
}

article .breadcrumbs a {
    font-size: 0.875rem;
}

article .breadcrumbs a::after {
    content: ">";
    margin: 0 1rem;
}

article .breadcrumbs a:last-child::after {
    content: none;
    margin: 0;
}

article .tags {
    grid-area: tags;
}

article h1 {
    --spacing: 4rem;

    grid-area: title;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: calc(var(--spacing) * 0.25);

    height: var(--spacing);
    margin: 0;
}

article h1::after {
    content: "";
    display: flex;
    flex-grow: 1;
    height: calc((var(--spacing) / 2) + 2px);
    margin-top: calc((var(--spacing) / 2) - 2px);
    border: solid var(--orange);
    border-width: 4px 4px 0 0;
}

article img {
    grid-area: infobox;
}

article .infobox {
    grid-area: infobox;

    margin-top: 2rem;
}

article .content {
    grid-area: content;

    padding: 2rem 3rem 3rem 3rem;
    border-left: 2px solid var(--gray-200);
    border-right: 4px solid var(--orange); 
}




/*
** FOOTER
------------------------------*/

/*
** MISC
------------------------------*/  