/*
** VARIABLES
------------------------------*/


/*
** TYPOGRAPHY
------------------------------*/



/*
** MAIN
------------------------------*/

input[type="radio"] {
    background: white;
}


/*

Checked state focus style (if the previous focus style is not noticeable against the new checked style - e.g., dark outline against a new dark fill when the control is checked).
Disabled state (make sure the label text continues to meet necessary contrast minimums!).
Make sure left-to-right and right-to-left (dir=ltr, dir=rtl) was not impacted by any of your styling.

*/


.filter-group, .sort-group {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 0;
    height: auto;
}

.filter-group {
    margin-bottom: 1rem;
}

.filter-group input:focus-visible + label {
    outline: var(--teal-100) auto 1px;
    outline-offset: 2px;
}

.filter-group label {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    color: var(--gray-100);
    padding:  0.75rem 1rem;
    background-color: white;
    text-decoration: none;
    border-top: 1px solid var(--gray-10);
    border-right: 1px solid var(--gray-10);
    border-left: 1px solid var(--gray-10);
    border-radius: var(--borderRadius);
    cursor: pointer;
    margin-right: 0.5rem;
    box-shadow: var(--boxShadow) var(--gray-15);
}

.filter-group label:hover {
    background-color: var(--teal-15);
    border-color: var(--teal-30);
    box-shadow: var(--boxShadow) var(--teal-30);
    color: var(--teal-100);
}

.filter-group input:checked + label {
    background-color: var(--teal-80);
    border-color: var(--teal-80);
    box-shadow: var(--boxShadow) var(--teal-100);
    color: white;
}

.sort-group {
    margin-bottom: 2rem;
}

.sort-group label {
    font-size: 0.875rem;
    font-weight: 600;
    margin-right: 0.5rem;
}

.sort-group .select-group {
    position: relative;
}

.sort-group .select-group::after {
    content: " ";
    display: block;
    position: absolute;
    margin-top: -2px;
    top: 50%;
    right: 0.75rem;
    width: 0.5rem;
    height: 0.5rem;
    border-top: 5px solid var(--teal-60);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    pointer-events: none;
}

.sort-group select {
    appearance: none;
    padding: 0.5rem 2rem 0.5rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: var(--borderRadius);
    border-top: 1px solid var(--gray-10);
    border-right: 1px solid var(--gray-10);
    border-left: 1px solid var(--gray-10);
    border-bottom: none;
    box-shadow: var(--boxShadow) var(--gray-15);
    position: relative;
    cursor: pointer;
}

.sort-group select:hover,
.sort-group select:focus {
    outline: none;
    background-color: var(--teal-15);
    border-color: var(--teal-30);
    box-shadow: var(--boxShadow) var(--teal-30);
    color: var(--teal-100);
}

.sort-group select:active {
    outline: none;
}

.sort-group select option {
    background-color: white;
    color: var(--gray-100);
    font-size: 0.875rem;
    font-weight: 500;
}




.article-list .list {
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
    padding: 0;
    gap: 0.5rem;
    border-top: 2px solid var(--gray-15);
    padding-top: 2rem;
}

.article-list .list li {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-top: 1px solid var(--gray-10);
    border-right: 1px solid var(--gray-10);
    border-left: 1px solid var(--gray-10);
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadow) var(--gray-15);
}

.article-list .list li:hover {
    background-color: var(--teal-15);
    border-color: var(--teal-30);
    box-shadow: var(--boxShadow) var(--teal-30);
}

.article-list .list li svg {
    width: 1.125rem;
}

.article-list .list li > a {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: var(--gray-100);
    font-weight: 500;
    flex-grow: 1;
    padding: 0 1.5rem 0 0;
}

.article-list .list li:hover > a {
    color: var(--teal-100);
}

.article-list .list li > a .icon-group {
    display: inline-flex;
    align-items: center;
    gap: 0.375rem;
    background-color: var(--orange-15);
    margin: -1px 0 0 -1px;
    padding: 1rem;
    border-radius: var(--borderRadius) 0 0 var(--borderRadius);
    border-top: 1px solid var(--orange-20);
    border-right: 1px solid var(--orange-20);
    border-left: 1px solid var(--orange-20);
    box-shadow: var(--boxShadow) var(--orange-30);
}

.article-list .list li:hover > a .icon-group {
    background-color: var(--teal-80);
    border-color: var(--teal-80);
    box-shadow: var(--boxShadow) var(--teal-100);
}

.article-list .list li > a svg :is(path, circle, line) {
    stroke-width: 1.5px;
}

.article-list .list li:hover > a svg :is(path, circle, line){
    stroke: white;
}

.article-list .list li > a .title {
    flex-grow: 1;
}

.article-list .list li > a .date {
    font-size: 0.875rem;
    color: var(--teal-60);
}

.article-list .list li:hover > a .date {
    color: var(--teal-80);
}

.article-list .list li .bookmark-toggle {
    line-height: 0;
    padding: 1rem 1.5rem;
}

.article-list .list li .bookmark-toggle:hover svg path {
    fill: var(--teal-60);
} 

.article-list .list li:hover .bookmark-toggle svg path {
    stroke: var(--teal-80);
}

.article-list .list li:hover .bookmark-toggle.is-active svg path {
    fill: var(--teal-60);
}

.article-list .list li .bookmark-toggle.is-active:hover svg path {
    fill: none;
} 
