/*
** VARIABLES
------------------------------*/


/*
** TYPOGRAPHY
------------------------------*/



/*
** MAIN
------------------------------*/

main.project {
    width: 900px;
    margin: 0 auto;
    padding: 3rem 0;
}


input[type="radio"] {
    appearance: none;
    background: white;
}

#filters label {
    background-color: white;
    padding: 1rem 1.5rem;
}



/*

Default (unchecked state).
New checked state.
Optional indeterminiate / ‘mixed’ state (not always necessary, but when needed you’re going to want to have it)
Custom focus state.
Checked state focus style (if the previous focus style is not noticeable against the new checked style - e.g., dark outline against a new dark fill when the control is checked).
Disabled state (make sure the label text continues to meet necessary contrast minimums!).
Make sure left-to-right and right-to-left (dir=ltr, dir=rtl) was not impacted by any of your styling.

*/













[role="tablist"] {
    display: flex;
    flex-flow: row;
    list-style: none;
    margin: 0 0 2rem;
    padding: 0;
    height: auto;
    gap: 0.5rem;
}

[role="tablist"] li {
    display: inline-flex;
    height: auto;
}

[role="tab"] {
    font-size: 1rem;
    font-weight: 600;
    color: var(--gray-100);
    padding:  0.75rem 1rem;
    background-color: white;
    text-decoration: none;
    border-radius: 0.75rem;
}

[role="tab"]:active,
[role="tab"]:hover {
    color: white;
    background-color: var(--orange-60);
}

[role="tab"][aria-selected="true"] {
    background-color: var(--teal-80);
    color: white;
}

[role="tabpanel"] ul {
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
    padding: 0;
    gap: 0.5rem;
}

[role="tabpanel"] li {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 0.75rem;
}

[role="tabpanel"] li:hover {
    background-color: var(--orange-30);
}

[role="tabpanel"] li > a {
    text-decoration: none;
    color: var(--gray-100);
    font-weight: 500;
    flex-grow: 1;
    padding: 1rem 1.5rem;
}

[role="tabpanel"] li > button {
    line-height: 0;
    padding: 1rem 1.5rem;
}

[role="tabpanel"] li > button svg {
    width: 1.125rem;
}


