/*
** SIDEPANEL
------------------------------*/

nav.sidepanel {
    --spacing: 0.75rem;

    grid-area: nav;
    justify-self: end;

    width: clamp(240px, 300px, 360px);
    padding: 2rem 0;
}

nav.sidepanel h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}

nav.sidepanel h3 {
    margin: 0;
}

nav.sidepanel p {
    margin: 0;
}

nav.sidepanel ul {
    list-style: none;
    padding: 0;
}

nav.sidepanel a {
    color: var(--gray-100);
    text-decoration: none;
}

nav.sidepanel a:not(.view-all):hover {
    color: var(--teal-80);
    text-decoration: underline;
}

nav.sidepanel :is(.bookmarks-panel, .tree-panel) a {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 0.875rem;
    font-weight: 500;
}

nav.sidepanel hr {
    border: 1px solid var(--gray-15);
    margin: var(--spacing) 0;
}

nav.sidepanel .accordion-toggle-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.sidepanel :is(.icon-group, .accordion-toggle){
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

nav.sidepanel .accordion-toggle[hidden] {
    display: none;
}

nav.sidepanel .accordion-toggle[aria-expanded=true] .toggle-label-show,
nav.sidepanel .accordion-toggle[aria-expanded=false] .toggle-label-hide {
    display: none;
}

nav.sidepanel :is(.bookmarks, .tree) .icon-group span {
    font-size: 1rem;
    font-weight: 600;
    margin-left: 0.5rem;
}

nav.sidepanel :is(.bookmarks, .tree) .accordion-panel li.is-active a::before {
    border-color: var(--teal-100);
    background-color: var(--teal-60);
}

nav.sidepanel :is(.projects, .bookmarks, .tree) .accordion-toggle span {
    font-size: 0.75rem;
    font-weight: 600;
    margin-right: 0.375rem; 
}

nav.sidepanel .accordion-panel {
    display: flex;
    flex-flow: column nowrap;
    margin: var(--spacing) 0 var(--spacing);
    gap: calc(var(--spacing) * 0.75);
}


/* Bookmarks */

nav.sidepanel .bookmarks li {
    display: flex;
    justify-content: space-between;
}

nav.sidepanel .bookmark-toggle {
    display: flex;
    align-items: center;
}

nav.sidepanel .bookmark-toggle svg {
    width: 1.125rem;
}


/* Tree */

nav.sidepanel .accordion-toggle svg {
    width: 0.75rem;
}

nav.sidepanel .accordion-toggle:not(#projects-toggle1)[aria-expanded="true"] > svg {
    transform: rotate(90deg);
}

nav.sidepanel .tree-panel {
    flex-flow: column nowrap;
    position: relative;
    margin: var(--spacing) 0 var(--spacing);
}

nav.sidepanel .tree-panel li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}