.timeline {
    height: 560px;
    margin: 3rem 0;
    display: grid;
    grid-template-rows: auto 1fr;
}

.timeline .viewport {
    background-color: var(--teal-15);
    border-top: 1px solid var(--teal-30);
    border-right: 1px solid var(--teal-30);
    border-left: 1px solid var(--teal-30);
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadow) var(--teal-30);
    padding: 2rem;
    margin: 0 0 2rem;
    /* overflow-x: auto;
    overflow-y: hidden; */
    /* height: 100%; */
}


.timeline ul {
    --eventWidth: 12rem;

    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    gap: 1rem;

    position: relative;
    padding: 0;
    

}

.timeline ul li {
    display: grid;
    grid-template-columns: calc(50% - 2rem) 2rem auto;
    grid-template-areas: 
    "content . date";
    list-style: none;
    overflow: visible;
    position: relative;
    /* width: 50%; */
    /* height: rem; */

}

.timeline ul li:nth-child(even){
    grid-template-columns: auto 2rem calc(50% - 2rem);
    grid-template-areas: 
    "date . content";
}

.timeline ul li::after {
    content: "";
    display: block;
    border: 2px solid var(--teal-60);
    background-color: var(--teal-30);
    height: 1rem;
    width: 1rem;
    border-radius: 10rem;
    position: absolute;
    top: 1rem;
}

.timeline ul li:nth-child(odd):after {
    right: calc(50% - 0.5rem);
}

.timeline ul li:nth-child(even):after {
    left: calc(50% - 0.5rem);
}

.timeline ul li::before {
    content: "";
    display: block;
    height: calc(100% + 1.5rem);
    width: 4px;
    background-color: var(--teal-30);
    border-radius: 2rem;
    position: absolute;
    right: calc(50% - 2px);
}

.timeline ul li:nth-child(even)::before {
    left: calc(50% - 2px);
}



.timeline ul li div {
    grid-area: content;
    background-color: white;
    padding: 0.75rem;
    box-shadow: var(--boxShadow) var(--teal-30);
    border-radius: var(--borderRadius);
    border-top: 1px solid var(--teal-30);
    border-right: 1px solid var(--teal-30);
    border-left: 1px solid var(--teal-30);
    position: relative;
}

/* .timeline ul li div::before {
    content: "";
    display: block;
    height: 4px;
    width: 2rem;
    background-color: var(--teal-30);
    position: absolute;
    top: 1.25rem;
    border-radius: 2rem;
    z-index: 0;
} */

/* .timeline ul li:nth-child(odd) div::before {
    right: -2rem;
}

.timeline ul li:nth-child(even) div::before {
    left: -2rem;
} */

.timeline ul li .date {
    grid-area: date;

    margin: 1rem;
    font-weight: 600;
    color: var(--teal-80);
}

.timeline ul li:nth-child(even) .date{
    justify-self: end;
}


