.timeline {
    display: grid;
    grid-template-rows: auto 1fr;

    & .filter-group {
        display: flex;
        gap: 0.5rem;
        margin-bottom: 1rem;
    }
    
    & .sort-group {
        margin-bottom: 2rem;
    }

    & .search-group {
        padding: 1rem 0;
        margin: 0 0 2rem;
        border-top: 2px solid var(--gray-15);
        border-bottom: 2px solid var(--gray-15);
        position: relative;

        & .search-form {
            position: relative;
            overflow-y: visible;
            background-color: white;
            min-height: 2.25rem;
            width: 20rem;
            border-radius: calc(var(--borderRadius) / 1.5);
            border-top: 1px solid var(--gray-10);
            border-right: 1px solid var(--gray-10);
            border-left: 1px solid var(--gray-10);
            border-bottom: none;
            box-shadow: var(--boxShadow) var(--gray-15);
        }
        
        & .search-input {
            background-color: transparent;
            height: 100%;
            width: 100%;
            padding: 0 2.5rem 0 1rem;
            border: none;

            font-size: 0.875rem;
            font-weight: 500;
            line-height: 1.3;

            &:focus {
                outline: none;
            }
        }
        
        & .search-submit {
            display: flex;
            position: absolute;
            right: 0.75rem;
            top: 0.5rem;

            & .search-submit-icon {
                width: 1.25rem;

                & :is(circle, line) {
                    fill: none;
                    stroke: var(--teal-60);
                    stroke-width: 3px;
                }
            }
        }
        
        & .search-results {
            display: flex;
            flex-flow: row wrap;
            align-items: start;
            gap: 0.5rem;
            list-style: none;
            padding: 0;
            margin: 1rem 0 0 ;

            & .error {
                font-size: 0.875rem;
                font-weight: 500;
            }
        }

    }
    
    & .viewport {
        background-color: var(--teal-15);
        border-top: 1px solid var(--teal-30);
        border-right: 1px solid var(--teal-30);
        border-left: 1px solid var(--teal-30);
        border-radius: var(--borderRadius);
        box-shadow: var(--boxShadow) var(--teal-30);
        padding: 2rem;
        margin: 0 0 2rem;
        max-height: 540px;
        overflow-y: auto;
    }
    
    & .list {
        --eventWidth: 12rem;
    
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        gap: 1rem;
    
        position: relative;
        padding: 0;

        & > li {
            display: grid;
            grid-template-columns: calc(50% - 2rem) 2rem auto;
            grid-template-areas: 
            "content . date";
            list-style: none;
            overflow: visible;
            position: relative;

            &:nth-child(even) {
                grid-template-columns: auto 2rem calc(50% - 2rem);
                grid-template-areas: 
                "date . content";
            }
            
            &::before {
                content: "";
                display: block;
                height: calc(100% + 1.2rem);
                width: 4px;
                background-color: var(--teal-30);
                border-radius: 2rem;
                position: absolute;
                right: calc(50% - 2px);
                top: -0.6rem;
            }
            
            &:nth-child(even)::before {
                left: calc(50% - 2px);
            }

            &::after {
                content: "";
                display: block;
                border: 2px solid var(--teal-60);
                background-color: var(--teal-30);
                height: 1rem;
                width: 1rem;
                border-radius: 10rem;
                position: absolute;
                top: 1.5rem;
            }
            
            &:nth-child(odd)::after {
                right: calc(50% - 0.5rem);
            }
            
            &:nth-child(even)::after {
                left: calc(50% - 0.5rem);
            }
            
            & .content-group {
                grid-area: content;
            
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
            
                background-color: white;
                padding: 0.75rem;
                box-shadow: var(--boxShadow) var(--teal-30);
                border-radius: var(--borderRadius);
                border-top: 1px solid var(--teal-30);
                border-right: 1px solid var(--teal-30);
                border-left: 1px solid var(--teal-30);
                position: relative;
            }
            
            &:nth-child(odd) .content-group {
                justify-self: flex-end;
            }
            
            &:nth-child(even) .content-group {
                justify-self: flex-start;
            }
            
            & .label-group {
                grid-area: date;
            
                align-self: start;
                margin: 1.5rem 1rem;
            }
            
            &:nth-child(even) .label-group {
                justify-self: end;
                text-align: right;
            }
            
            & .date {
                font-weight: 600;
                line-height: 1;
                color: var(--teal-80);
                margin: 0 0 0.25rem;
            }
            
            & .age-group > li {
                font-weight: 400;
                line-height: 1;
                color: var(--teal-80);
                font-size: 0.875rem;
                margin: 0 0 0.25rem;
            }
            
            & .title {
                font-weight: 600;
                margin: 0 0 0.5rem;
                color: var(--teal-100);
            }
            
            & .description {
                font-family: 'Source Serif Pro';
                font-weight: 400;
                margin: 0 0 0.5rem;
            }
            
            & .category {
                display: inline-flex;
                align-items: center;
                gap: 0.375rem;
            
                align-self: flex-start;
                background-color: var(--orange-20);
                padding: 0.5rem;
                margin-left: -1.5rem;
                border: 1px solid var(--orange-30);
                border-radius: var(--borderRadius);
                font-size: 0.875rem;
                font-weight: 500;

                & svg {
                    width: 1.125rem;

                    & :is(path, circle, line) {
                        stroke-width: 1.5px;
                    }
                }
            }
        }
    }
}