.timeline {
    display: grid;
    grid-template-rows: auto 1fr;
}


.timeline .viewport {
    background-color: var(--teal-15);
    border-top: 1px solid var(--teal-30);
    border-right: 1px solid var(--teal-30);
    border-left: 1px solid var(--teal-30);
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadow) var(--teal-30);
    padding: 2rem;
    margin: 0 0 2rem;
    max-height: 540px;
    overflow-y: auto;
}


.timeline ul {
    --eventWidth: 12rem;

    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    gap: 1rem;

    position: relative;
    padding: 0;
    

}

.timeline ul li {
    display: grid;
    grid-template-columns: calc(50% - 2rem) 2rem auto 1fr;
    grid-template-areas: 
    "content . date category";
    list-style: none;
    overflow: visible;
    position: relative;
    /* width: 50%; */
    /* height: rem; */

}

.timeline ul li:nth-child(even){
    grid-template-columns: 1fr auto 2rem calc(50% - 2rem);
    grid-template-areas: 
    "category date . content";
}

.timeline ul li::after {
    content: "";
    display: block;
    border: 2px solid var(--teal-60);
    background-color: var(--teal-30);
    height: 1rem;
    width: 1rem;
    border-radius: 10rem;
    position: absolute;
    top: 1.5rem;
}

.timeline ul li:nth-child(odd):after {
    right: calc(50% - 0.5rem);
}

.timeline ul li:nth-child(even):after {
    left: calc(50% - 0.5rem);
}

.timeline ul li::before {
    content: "";
    display: block;
    height: calc(100% + 1.2rem);
    width: 4px;
    background-color: var(--teal-30);
    border-radius: 2rem;
    position: absolute;
    right: calc(50% - 2px);
    top: -0.6rem;
}

.timeline ul li:nth-child(even)::before {
    left: calc(50% - 2px);
}



.timeline ul li div {
    grid-area: content;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    background-color: white;
    padding: 0.75rem;
    box-shadow: var(--boxShadow) var(--teal-30);
    border-radius: var(--borderRadius);
    border-top: 1px solid var(--teal-30);
    border-right: 1px solid var(--teal-30);
    border-left: 1px solid var(--teal-30);
    position: relative;
}

/* .timeline ul li div::before {
    content: "";
    display: block;
    height: 4px;
    width: 2rem;
    background-color: var(--teal-30);
    position: absolute;
    top: 1.25rem;
    border-radius: 2rem;
    z-index: 0;
} */

.timeline ul li:nth-child(odd) div {
    justify-self: flex-end;
}

.timeline ul li:nth-child(even) div {
    justify-self: flex-start;
}

.timeline ul li .date {
    grid-area: date;

    align-self: start;
    margin: 1.5rem 1rem;
    font-weight: 600;
    line-height: 1;
    color: var(--teal-80);
}

.timeline ul li:nth-child(even) .date{
    justify-self: end;
}

.timeline ul li .title {
    font-weight: 600;
    /* font-size: 0.875rem; */
    margin: 0 0 0.5rem;
    color: var(--teal-100);
}

.timeline ul li .description {
    font-family: 'Source Serif Pro';
    font-weight: 400;
    /* font-size: 0.875rem; */
    margin: 0 0 0.5rem;
}

.timeline ul li .category {
    display: inline-flex;
    align-items: center;
    gap: 0.375rem;

    align-self: flex-start;
    background-color: var(--orange-15);
    padding: 0.5rem;
    margin-left: -1.5rem;
    border: 1px solid var(--orange-30);
    border-radius: var(--borderRadius);
    font-size: 0.875rem;
    font-weight: 500;
}

.timeline ul li .category svg {
    width: 1.125rem;
}

.timeline ul li .category svg :is(path, circle, line) {
    stroke-width: 1.5px;
}

.timeline ul li > .category {
    grid-area: category;
    margin: 0.375rem 0 0 0;
}

.timeline ul li:nth-child(odd) > .category {
    justify-self: flex-start;
}

.timeline ul li:nth-child(even) > .category {
    justify-self: flex-end;
}


