---
import Logo from "./LogoTome.astro";
import Search from "./SearchBar.astro";
import IconProjects from "./IconProjects.astro";

const { activeProject } = Astro.props;

console.log(activeProject);

// Generate list of projects
const projectPages = await Astro.glob('../pages/*.md');
const projects = [];
for (const page of projectPages){
    let project = {
        url: page.url,
        title: page.frontmatter.title
    }
    if (project.title !== activeProject){
        projects.push(project);
    }
}


---

<header>
    <nav class="global">
        <Logo />
        <a href="/">Home</a>
        <a href="/projects">My Projects</a>
    </nav>
    <Search activeProject={activeProject} />
    <nav class="project" hidden={activeProject ? null : ''}>
        <IconProjects />
        <p>{activeProject}:</p>
        <a href={activeProject ? `/${activeProject.toLowerCase()}` : ''}>Articles</a>
        <a href={activeProject ? `/${activeProject.toLowerCase()}/timeline` : ''}>Timeline</a>
    </nav>    
</header>