---
import IconProjects from "./IconProjects.astro";
import IconHome from "./IconHome.astro";
import IconArticles from "./IconArticles.astro";
import IconTimeline from "./IconTimeline.astro";

import '../styles/nav.css';

const { activeProject } = Astro.props;
const { activePost } = Astro.props;

---

<nav class="global">

    <ul class="tree accordion">
        <li><a href="/" class={Astro.url.pathname === '/' && 'is-active'} title="Home"><IconHome /></a></li>
        <hr>
        <li><a href="/projects" class={Astro.url.pathname === '/projects' && 'is-active'} title="My Project"><IconProjects /></a></li>
        
        {
            activeProject && (

                <hr/>
                <li><a href={activeProject ? `/${activeProject.toLowerCase()}` : ''} class={Astro.url.pathname === `/${activeProject.toLowerCase()}` && 'is-active'} title={activeProject + ' Articles'}><IconArticles /></a></li>
                <hr>
                <li><a href={activeProject ? `/${activeProject.toLowerCase()}/timeline` : ''} class={Astro.url.pathname === `/${activeProject.toLowerCase()}/timeline` && 'is-active'} title={activeProject + ' Timeline'}><IconTimeline /></a></li>

            )
        }

    </ul>

</nav>  