---

import "../styles/timeline.css"

---

<section class="timeline">
    <h2>Timeline</h2>
    <div class="viewport">
        <ul>
            <li>
                <div>
                    <p>Title of the Event</p>
                    <p>100 FC</p>
                    <p>Short description of the event that won't be too long or it won't fit.</p>
                </div>
                <p class="date">100 FC</p>
            </li>
            <li>
                <div>
                    <p>Title of the Event</p>
                    <p>100 FC</p>
                    <p>Short description of the event that won't be too long or it won't fit.</p>
                </div>
                <p class="date">100 FC</p>
            </li>
            <li>
                <div>
                    <p>Title of the Event</p>
                    <p>100 FC</p>
                    <p>Short description of the event that won't be too long or it won't fit.</p>
                </div>
                <p class="date">100 FC</p>
            </li>
            <li>
                <div>
                    <p>Title of the Event</p>
                    <p>100 FC</p>
                    <p>Short description of the event that won't be too long or it won't fit.</p>
                </div>
                <p class="date">100 FC</p>
            </li>
            <li>
                <div>
                    <p>Title of the Event</p>
                    <p>100 FC</p>
                    <p>Short description of the event that won't be too long or it won't fit.</p>
                </div>
                <p class="date">100 FC</p>
            </li>
            
        </ul>
    </div>
</section>
