---
import CategoryCard from "../components/CategoryCard.astro";
const { posts } = Astro.props;
---
<!-- CATEGORY LAYOUT -->
<div class="cards">
    {
        posts.map((post) => (
            <CategoryCard url={post.url} title={post.frontmatter.title} />            
        ))
    }
</div>  
