---
import BaseLayout from "./BaseLayout.astro";
import CardGroup from "../components/CardGroup.astro" 

import IconArrow from "../components/IconArrow.astro";
import IconPeople from "../components/IconPeople.astro";
import IconGroups from "../components/IconGroups.astro";
import IconPlaces from "../components/IconPlaces.astro";
import IconEvents from "../components/IconEvents.astro";
import IconThings from "../components/IconThings.astro";
import IconProjects from "../components/IconProjects.astro";

import "../styles/home.css";

import { dateFormatter } from "../scripts/helpers.js";

const projects = await Astro.glob('../pages/*.md');

const posts = await Astro.glob('../pages/*/*/*.md');

posts.sort((a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date));

const projectPosts = {}

projects.map((project) => {
    let title = project.frontmatter.title;
    // Filter the articles assigned to this project
    let projectPosts = posts.filter(post => {
        return post.frontmatter.project === title;
    })
    // Store the number of articles in the project object
    project.frontmatter.numArticles = projectPosts.length; 

    let greatestDate = 0;
    let key;
    for (let x in projectPosts){
        let date = Date.parse(projectPosts[x].frontmatter.date);
        if (date > greatestDate){
            key = x;
            greatestDate = date;
        }
    }
    if (greatestDate > 0){
        project.frontmatter.recentEditDate = greatestDate;
    }    
})
---

<BaseLayout pageTitle={'Tome'} >
    <main class="home">
		<!-- <h1>My Projects</h1> -->
        <section class="recent-projects">
            <h2>Recent Projects</h2>
            <CardGroup posts={projects} numToShow={3} postType={'project'} />
        </section>
        <section class="recent-articles">
            <h2>Recent Articles</h2>
            <CardGroup posts={posts} numToShow={3} postType={'article'}/>
        </section>
	</main>
</BaseLayout>