---
import BaseLayout from "./BaseLayout.astro";

const projects = await Astro.glob('../pages/*.md');

---

<BaseLayout pageTitle={'Tome'} >
    <main>
		<h1>Welcome to Tome</h1>
		<ul>
            {projects.map((project) =>
                <li><a href={project.url}>{project.frontmatter.title}</a></li>
            )}
        </ul>
		
	</main>
</BaseLayout>