---
import BaseLayout from "./BaseLayout.astro";
import CardGroup from "../components/CardGroup.astro";
import IconArrow from "../components/IconArrow.astro";

import "../styles/home.css";

const { activeProject } = Astro.props;

const projects = await Astro.glob('../pages/*.md');
const posts = await Astro.glob('../pages/*/*/*.md');
const filteredPosts = posts.filter(post => {
    return ['Events', 'Groups', 'People', 'Places', 'Things'].includes(post.frontmatter.category);
});

---

<BaseLayout pageTitle={'Tome'} activeProject={activeProject}>
    <main class="home">
		<h1>My Tome</h1>
        { 
            projects.length > 0 ? (
                <section class="projects">
                    <div class="heading-link-group">
                        <h2>My Projects</h2>
                        <a class="btn-s" href="/projects">View All Projects <IconArrow classes={'icon-controls'}/></a>  
                    </div>
                    <CardGroup posts={projects} numToShow={3} sort={'byDateDesc'} />
                </section>
            ) : (
                <section>
                    <h2>My Projects</h2>
                    <p>There are no projects in this Tome.</p>
                </section>
            )
        }
        {
            posts.length > 0 ? (
                <section class="recent">

                    <section class="recently-accessed" hidden>
                        <h2>Jump Back In</h2>
                        <div class="card-group">
                            <ul></ul>
                        </div>
                    </section>

                    <section class="recently-updated">
                        <h2>Recently Updated</h2>
                        <CardGroup posts={filteredPosts} numToShow={3} sort={'byDateDesc'} view={'compact'}/>
                    </section>

                </section>
            ) : ''
        }

	</main>
</BaseLayout>

