---
import BaseLayout from "./BaseLayout.astro";
import CardGroup from "../components/CardGroup.astro" 

import "../styles/home.css";

const { activeProject } = Astro.props;

const projects = await Astro.glob('../pages/*.md');

const posts = await Astro.glob('../pages/*/*/*.md');

posts.sort((a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date));

projects.map((project) => {
    let title = project.frontmatter.title;
    // Filter the articles assigned to this project
    let projectPosts = posts.filter(post => {
        return post.frontmatter.project === title;
    })
    // Store the number of articles in the project object
    project.frontmatter.numArticles = projectPosts.length; 

    let greatestDate = 0;
    let key;
    for (let x in projectPosts){
        let date = Date.parse(projectPosts[x].frontmatter.date);
        if (date > greatestDate){
            key = x;
            greatestDate = date;
        }
    }
    if (greatestDate > 0){
        project.frontmatter.recentEditDate = greatestDate;
    }    
})
---

<BaseLayout pageTitle={'Tome'} activeProject={activeProject}>
    <main class="home">
		<!-- <h1>My Projects</h1> -->
        <section class="recent-projects">
            <h2>Recent Projects</h2>
            <CardGroup posts={projects} numToShow={3} postType={'project'} />
            <a href="/projects">All Projects</a>
        </section>
        <section class="recent-articles">
            <h2>Recent Articles</h2>
            <CardGroup posts={posts} numToShow={3} postType={'article'}/>
        </section>
	</main>
</BaseLayout>