---
import BaseLayout from "./BaseLayout.astro";
import CardGroup from "../components/CardGroup.astro" 

const { activeProject } = Astro.props;

const projects = await Astro.glob('../pages/*.md');

const posts = await Astro.glob('../pages/*/*/*.md');

posts.sort((a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date));

projects.map((project) => {
    let title = project.frontmatter.title;
    // Filter the articles assigned to this project
    let projectPosts = posts.filter(post => {
        return post.frontmatter.project === title;
    })
    // Store the number of articles in the project object
    project.frontmatter.numArticles = projectPosts.length; 

    let greatestDate = 0;
    let key;
    for (let x in projectPosts){
        let date = Date.parse(projectPosts[x].frontmatter.date);
        if (date > greatestDate){
            key = x;
            greatestDate = date;
        }
    }
    if (greatestDate > 0){
        project.frontmatter.recentEditDate = greatestDate;
    }    
})

// TODO - Fix styles of All Articles link, ideally place it top right across from header


---

<BaseLayout pageTitle={'Tome'} activeProject={activeProject}>
    <main class="home">
		<h1>Recent Updates</h1>
        { 
            projects.length > 0 ? (
                <section>
                    <h2>Recent Projects</h2>
                    <a href="/projects">All Projects &rarr;</a>
                    <CardGroup posts={projects} numToShow={3} postType={'project'} />
                </section>
            ) : (
                <section>
                    <h2>Recent Projects</h2>
                    <p>There are no projects in this Tome.</p>
                </section>
            )
        }
        {
            posts.length > 0 ? (
                <section>
                    <h2>Recent Articles</h2>
                    <CardGroup posts={posts} numToShow={3} postType={'article'}/>
                </section>
            ) : (
                <section>
                    <h2>Recent Articles</h2>
                    <p>There are no articles in this Tome.</p>
                </section>
            )
        }

	</main>
</BaseLayout>