---
import BaseLayout from "./BaseLayout.astro";
import CardGroup from "../components/CardGroup.astro";
import IconArrow from "../components/IconArrow.astro";

const { activeProject } = Astro.props;

const projects = await Astro.glob('../pages/*.md');
const posts = await Astro.glob('../pages/*/*/*.md');
const filteredPosts = posts.filter(post => {
    return ['Events', 'Groups', 'People', 'Places', 'Things'].includes(post.frontmatter.category);
});

---

<BaseLayout pageTitle={'Tome'} activeProject={activeProject}>
    <main class="home">
		<h1>Recent Updates</h1>
        { 
            projects.length > 0 ? (
                <section>
                    <div class="heading-link-group">
                        <h2>Recent Projects</h2>
                        <a class="btn-s" href="/projects">View All Projects <IconArrow classes={'icon-controls'}/></a>  
                    </div>
                    <CardGroup posts={projects} numToShow={3} sort={'byDateDesc'} />
                </section>
            ) : (
                <section>
                    <h2>Recent Projects</h2>
                    <p>There are no projects in this Tome.</p>
                </section>
            )
        }
        {
            posts.length > 0 ? (
                <section>
                    <h2>Recent Articles</h2>
                    <CardGroup posts={filteredPosts} numToShow={3} sort={'byDateDesc'} />
                </section>
            ) : (
                <section>
                    <h2>Recent Articles</h2>
                    <p>There are no articles in this Tome.</p>
                </section>
            )
        }

	</main>
</BaseLayout>