---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <section>
        <ul>
            <li>{frontmatter.species}</li>
        </ul>            
    </section>
  <slot />
</BaseLayout>
