---
import BaseLayout from "./BaseLayout.astro";
import CardGroup from "../components/CardGroup.astro"

const projects = await Astro.glob('../pages/*.md');

---

<BaseLayout pageTitle={'My Projects'} >
    <main>
		<h1>My Projects</h1>
        <section>
            <CardGroup posts={projects} numToShow={9} sort={'byDateDesc'} />
        </section>
	</main>
</BaseLayout>